@use "../../styles/partials/globals";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.todo-item {
    border: 0.25rem outset rgb(181 206 206);
    padding: 0.5rem;
}

.done {
    text-decoration: line-through;
    color: #ada9a9;
}
