@use "../src/styles/partials/globals";
@use "../src/styles/partials/typography";
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

